  .logo {
    height: 100px;
    margin: 30px 16px;
    text-align: center;
    color: white;
    line-height: 24px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .content-layout{
    background: #fff;
    margin: 0px 24px;
    padding: 24px;
  }

  #test{
    min-height: 100vh;
  }

  .site-layout{
    position: relative;  
  }

  .text-logo{
    color: white;
  }

  #sider{
    display: block;
  }

  .footer{
    bottom: 0;
    text-align: center;
  }

  @media screen and (max-width: 576px) {
    .trigger {
      display: none;
    }

    .content-layout {
      background: #fff;
      margin-left: 100px;
      padding: 18px;
    }

    .text-logo{
      display: none;
    }

    #sider{
      position: fixed;
      z-index: 1;
    }

    .hr{
      display: none;
    }

    .logo{
      margin-left: 0px;
      margin-right: 0px;
    }

    .footer{
      display: none;
    }
}