.centered-card{
    padding-top: 250px;
}

@media only screen and (max-width: 1000px) {
    .centered-card{
        padding-top: 170px;
    }
    #test-test-rebase-devb{
        padding-top: 190px;
    }
  }
#card{
    height: 300px;
}